@import "./colors";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: url("../assets/bodybg.png") repeat;
  background-color: $backgroundColor;
  color: #fff;
  background-color: $bodyColor;
  height: 100%;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.App {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}
.main-wrapper {
  align-self: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}
