@import "../styles/colors";
.command-content {
  display: flex;
  align-content: space-between;
  background: $contentColorBG;
  box-shadow: $contentColorBoxShadow;
  overflow-y: hidden;
  flex-grow: 0.9;
  align-self: center;
  height: 60%;
  margin: 0 auto;
  width: 90%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  flex-direction: column;
  .command-desc-text {
    padding: 15px;
    font-size: 25px;
    text-align: center;
  }

  .command-run {
    border-radius: 30px;
    padding: 10px 20px;
    color: #ffffffe6;
    background-image: #{$cmdButtonColor};
    box-shadow: 0 14px 44px #00000026, 0 10px 10px #00000012;
    font-weight: 500;
    border: 0;
    transition: 0.2s all;
    cursor: pointer;
    background-color: #00a4f3;
    text-align: center;
    width: 90%;
    align-self: center;
  }

  .command-input-output-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50%;

    .command {
      margin-left: 15px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .input-desc {
        height: 50px;
        display: flex;
        text-align: right;
        padding-right: 15px;

        span.input-desc {
          padding-bottom: 25px;
          height: 100px;
        }
      }
      .custom-select-options {
        display: flex;
        flex-direction: column;
        background: #086b8f;
        position: absolute;
        opacity: 1;
        transition: all 500ms ease-in-out;
        font-size: 16px;
        color: #f1f1f1;
        .options {
          box-shadow: $contentColorBoxShadow;
          padding-left: 20px;
          padding-top: 5px;
          padding-bottom: 5px;
          padding-right: 50px;
          margin-bottom: 5px;
          background: linear-gradient(to right, #19a2d4 50%, #086b8f 50%);
          background-size: 200%;
          background-position: right bottom;
          transition: all 0.5s ease-out;
          cursor: pointer;
        }
        :hover {
          background-position: left bottom;
        }
      }
    }
  }

  .command-response {
    width: 50%;
  }
}

input::placeholder {
  color: #f1f1f1;
}

input {
  border: 1px solid #086b8f;
  background: #{$navbarBG};
  box-shadow: $mainBoxShadow;
  font-size: 16px;
  color: $contentColorBG;
}
.abdulah-text {
  align-self: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #{$navbarBG};
  box-shadow: $mainBoxShadow;
  width: 90%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-left: 20px;
}
